[submodule "UbiLocate"]
	path = UbiLocate
	url = https://github.com/IMDEANetworksWNG/UbiLocate.git
[submodule "nexmon_csi"]
	path = nexmon_csi
	url = https://github.com/seemoo-lab/nexmon_csi
[submodule "nexmon"]
	path = nexmon
	url = https://github.com/seemoo-lab/nexmon
[submodule "nexmon_csi_gui"]
	path = nexmon_csi_gui
	url = https://github.com/ConnectedSystemsLab/nexmon_csi_gui
